.box
{
    width: 600px;
    height:300px;
    background-color: blueviolet;
    padding: 0px;
    /* border: solid 4px darkcyan; */
    border-bottom: 2px solid red;
    border-radius: 8px;
    /* margin: auto; */
    /* margin-bottom: 32px; */
    background-image: url("./images/car.jpg");
    background-repeat: no-repeat;
    background-position:cover;
    background-size: cover;
    color: aliceblue;
    position: relative;
}
.topleft {
    position: absolute;
    top: 8%;
    left: 16px;
    font-size: 18px;
}
img{
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.topright {
    position: absolute;
    top: 8%;
    right: 16px;
    font-size: 18px;
}
img{
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.bottomleft {
    position: absolute;
    bottom: 8%;
    left: 16px;
    font-size: 18px;
}
.bottomright {
    position: absolute;
    bottom: 8%;
    right: 16px;
    font-size: 18px;
    text-align: right;
}
img{
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
img{
    width: 100%;
    height: auto;
    opacity: 0.3;
}