.parent {
    display: flex;
    /* flex-direction: row; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: wheat;
    width: 100%;
    height: 600px;
    gap: 16px;
    padding: 16px;
}
.child {
    background-color: darkgreen;
    width: 20%;
    height: 200px;
}